
*.jpg
*.zip
*.DS_Store
data/__MACOSX/._test
data/__MACOSX/._train
data/__MACOSX/test/._antelope
data/__MACOSX/test/._badger
data/__MACOSX/test/._bat
data/__MACOSX/test/._bear
data/__MACOSX/test/._bee
data/__MACOSX/test/._beetle
data/__MACOSX/test/._bison
data/__MACOSX/test/._boar
data/__MACOSX/test/._butterfly
data/__MACOSX/test/._cat
data/__MACOSX/test/._caterpillar
data/__MACOSX/test/._chimpanzee
data/__MACOSX/test/._cockroach
data/__MACOSX/test/._cow
data/__MACOSX/test/._coyote
data/__MACOSX/test/._crab
data/__MACOSX/test/._crow
data/__MACOSX/test/._deer
data/__MACOSX/test/._dog
data/__MACOSX/test/._dolphin
data/__MACOSX/test/._donkey
data/__MACOSX/test/._dragonfly
data/__MACOSX/test/._duck
data/__MACOSX/test/._eagle
data/__MACOSX/test/._elephant
data/__MACOSX/test/._flamingo
data/__MACOSX/test/._fly
data/__MACOSX/test/._fox
data/__MACOSX/test/._goat
data/__MACOSX/test/._goldfish
data/__MACOSX/test/._goose
data/__MACOSX/test/._gorilla
data/__MACOSX/test/._grasshopper
data/__MACOSX/test/._hamster
data/__MACOSX/test/._hare
data/__MACOSX/test/._hedgehog
data/__MACOSX/test/._hippopotamus
data/__MACOSX/test/._hornbill
data/__MACOSX/test/._horse
data/__MACOSX/test/._hummingbird
data/__MACOSX/test/._hyena
data/__MACOSX/test/._jellyfish
data/__MACOSX/test/._kangaroo
data/__MACOSX/test/._koala
data/__MACOSX/test/._ladybugs
data/__MACOSX/test/._leopard
data/__MACOSX/test/._lion
data/__MACOSX/test/._lizard
data/__MACOSX/test/._lobster
data/__MACOSX/test/._mosquito
data/__MACOSX/test/._moth
data/__MACOSX/test/._mouse
data/__MACOSX/test/._octopus
data/__MACOSX/test/._okapi
data/__MACOSX/test/._orangutan
data/__MACOSX/test/._otter
data/__MACOSX/test/._owl
data/__MACOSX/test/._ox
data/__MACOSX/test/._oyster
data/__MACOSX/test/._panda
data/__MACOSX/test/._parrot
data/__MACOSX/test/._pelecaniformes
data/__MACOSX/test/._penguin
data/__MACOSX/test/._pig
data/__MACOSX/test/._pigeon
data/__MACOSX/test/._porcupine
data/__MACOSX/test/._possum
data/__MACOSX/test/._raccoon
data/__MACOSX/test/._rat
data/__MACOSX/test/._reindeer
data/__MACOSX/test/._rhinoceros
data/__MACOSX/test/._sandpiper
data/__MACOSX/test/._seahorse
data/__MACOSX/test/._seal
data/__MACOSX/test/._shark
data/__MACOSX/test/._sheep
data/__MACOSX/test/._snake
data/__MACOSX/test/._sparrow
data/__MACOSX/test/._squid
data/__MACOSX/test/._squirrel
data/__MACOSX/test/._starfish
data/__MACOSX/test/._swan
data/__MACOSX/test/._tiger
data/__MACOSX/test/._turkey
data/__MACOSX/test/._turtle
data/__MACOSX/test/._whale
data/__MACOSX/test/._wolf
data/__MACOSX/test/._wombat
data/__MACOSX/test/._woodpecker
data/__MACOSX/test/._zebra
data/__MACOSX/train/._antelope
data/__MACOSX/train/._badger
data/__MACOSX/train/._bat
data/__MACOSX/train/._bear
data/__MACOSX/train/._bee
data/__MACOSX/train/._beetle
data/__MACOSX/train/._bison
data/__MACOSX/train/._boar
data/__MACOSX/train/._butterfly
data/__MACOSX/train/._cat
data/__MACOSX/train/._caterpillar
data/__MACOSX/train/._chimpanzee
data/__MACOSX/train/._cockroach
data/__MACOSX/train/._cow
data/__MACOSX/train/._coyote
data/__MACOSX/train/._crab
data/__MACOSX/train/._crow
data/__MACOSX/train/._deer
data/__MACOSX/train/._dog
data/__MACOSX/train/._dolphin
data/__MACOSX/train/._donkey
data/__MACOSX/train/._dragonfly
data/__MACOSX/train/._duck
data/__MACOSX/train/._eagle
data/__MACOSX/train/._elephant
data/__MACOSX/train/._flamingo
data/__MACOSX/train/._fly
data/__MACOSX/train/._fox
data/__MACOSX/train/._goat
data/__MACOSX/train/._goldfish
data/__MACOSX/train/._goose
data/__MACOSX/train/._gorilla
data/__MACOSX/train/._grasshopper
data/__MACOSX/train/._hamster
data/__MACOSX/train/._hare
data/__MACOSX/train/._hedgehog
data/__MACOSX/train/._hippopotamus
data/__MACOSX/train/._hornbill
data/__MACOSX/train/._horse
data/__MACOSX/train/._hummingbird
data/__MACOSX/train/._hyena
data/__MACOSX/train/._jellyfish
data/__MACOSX/train/._kangaroo
data/__MACOSX/train/._koala
data/__MACOSX/train/._ladybugs
data/__MACOSX/train/._leopard
data/__MACOSX/train/._lion
data/__MACOSX/train/._lizard
data/__MACOSX/train/._lobster
data/__MACOSX/train/._mosquito
data/__MACOSX/train/._moth
data/__MACOSX/train/._mouse
data/__MACOSX/train/._octopus
data/__MACOSX/train/._okapi
data/__MACOSX/train/._orangutan
data/__MACOSX/train/._otter
data/__MACOSX/train/._owl
data/__MACOSX/train/._ox
data/__MACOSX/train/._oyster
data/__MACOSX/train/._panda
data/__MACOSX/train/._parrot
data/__MACOSX/train/._pelecaniformes
data/__MACOSX/train/._penguin
data/__MACOSX/train/._pig
data/__MACOSX/train/._pigeon
data/__MACOSX/train/._porcupine
data/__MACOSX/train/._possum
data/__MACOSX/train/._raccoon
data/__MACOSX/train/._rat
data/__MACOSX/train/._reindeer
data/__MACOSX/train/._rhinoceros
data/__MACOSX/train/._sandpiper
data/__MACOSX/train/._seahorse
data/__MACOSX/train/._seal
data/__MACOSX/train/._shark
data/__MACOSX/train/._sheep
data/__MACOSX/train/._snake
data/__MACOSX/train/._sparrow
data/__MACOSX/train/._squid
data/__MACOSX/train/._squirrel
data/__MACOSX/train/._starfish
data/__MACOSX/train/._swan
data/__MACOSX/train/._tiger
data/__MACOSX/train/._turkey
data/__MACOSX/train/._turtle
data/__MACOSX/train/._whale
data/__MACOSX/train/._wolf
data/__MACOSX/train/._wombat
data/__MACOSX/train/._woodpecker
data/__MACOSX/train/._zebra
*.iml
*.xml
